@media (max-width:320px) and (max-width:480px){

		#wrapper {
		    padding-left: 70px;
		    transition: all .4s ease 0s;
		}
		#sidebar-wrapper {
		 	left: 70px;
		}
		#wrapper.active {
		   padding-left: 150px;
		}
		#wrapper.active #sidebar-wrapper {
		     left: 35px;
		     width: 150px;
		     transition: all .4s ease 0s;
		}
		.sidebar-nav {
		    display: block;
		    float: left;
		    width: 150px;
		    list-style: none;
		    margin: 0 auto;
		    padding: 0;
		}
		
		#sidebar_menu{
			display: none;
		}
		
		#navbar-collapse{
			display: none !important;
		}
		
		.container-content{
				left: 0px;
				top:0px;
				margin:0 auto;
				-webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
				transition: left 0.5s;		
		}
}


@media (max-width:767px) {

		#wrapper {
		    padding-left: 70px;
		    transition: all .4s ease 0s;
		}
		#sidebar-wrapper {
		 	left: 70px;
		}
		#wrapper.active {
		   padding-left: 150px;
		}
		#wrapper.active #sidebar-wrapper {
		     left: 35px;
		     width: 150px;
		     transition: all .4s ease 0s;
		}
		.sidebar-nav {
		    display: block;
		    float: left;
		    width: 150px;
		    list-style: none;
		    margin: 0 auto;
		    padding: 0;
		}
		
		#sidebar_menu{
			display: none;
		}
		
		#navbar-collapse{
			display: none !important;
		}
		
		.container-content{
				left: 0px;
				top:0px;
				margin:0 auto;
				-webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
				transition: left 0.5s;		
		}
}
